h1 {
    color: purple;
    text-decoration: underline;
}

.welcome {
    text-align: center;
    font-family: 'Georgia';
    margin-top: 50px;
}

ul {
    list-style: none;
}

li {
    display: inline;
    padding: 0 0.25em;
}

nav {

}